<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<table>
    <thead>
    </thead>
    <tbody>
    <tr th:each="codeDTO : ${last10}">
        <td>
            <span id="load_date"  th:text="${codeDTO.date}"></span>
            <pre id="code_snippet">
                <code>
                    <p th:text="${codeDTO.code}"></p>
                </code>
            </pre>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>